<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/main.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <title>Portfolio</title>
  </head>

  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1-1">
              <img
                src="images/Profile.jpg"
                width="156px"
                height="142px"
                alt=""
              />
            </div>
            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
            <div class="left_icons">
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Icons-facebook.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Icons-instagram.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Icons-linkedin.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Icons-Youtube.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/dribbble.svg" class="icon-1" />
                </div>
              </a>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_2">
            <div class="age_desc">
              <div class="age">Age:</div>
              <div class="age_year">26</div>
            </div>

            <div class="contact_desc">
              <div class="residence">Residence:</div>
              <div class="residence_area">S.Korea</div>
            </div>

            <div class="freelance_desc">
              <div class="freelance">Freelance:</div>
              <div class="freelance_info">Availabe</div>
            </div>

            <div class="address_desc">
              <div class="address_info">Address:</div>
              <div class="address_residence">Cheongju, S.Korea</div>
            </div>
          </div>
          <div class="marginer"></div>

          <div class="left_3">
            <div class="lang_title">Languages</div>

            <div class="lang_container">
              <div class="lang_txt">Turkish</div>
              <div class="lang_txt">100%</div>
            </div>
            <div class="percantge_bar_container">
              <div class="percantge_bar"></div>
            </div>

            <div class="lang_container">
              <div class="lang_txt">Korean</div>
              <div class="lang_txt">80%</div>
            </div>
            <div class="percantge_bar_container">
              <div class="percantge_bar_2"></div>
            </div>

            <div class="lang_container">
              <div class="lang_txt">English</div>
              <div class="lang_txt">50%</div>
            </div>
            <div class="percantge_bar_container">
              <div class="percantge_bar_3"></div>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_4">
            <div class="lang_title">Skills</div>

            <div class="lang_container">
              <div class="lang_txt">HTML</div>
              <div class="lang_txt">90%</div>
            </div>
            <div class="percantge_bar_container">
              <div class="percantge_bar_4"></div>
            </div>

            <div class="lang_container">
              <div class="lang_txt">CSS</div>
              <div class="lang_txt">85%</div>
            </div>
            <div class="percantge_bar_container">
              <div class="percantge_bar_5"></div>
            </div>

            <div class="lang_container">
              <div class="lang_txt">JS</div>
              <div class="lang_txt">80</div>
            </div>
            <div class="percantge_bar_container">
              <div class="percantge_bar_6"></div>
            </div>
            <div class="lang_container">
              <div class="lang_txt">PHP</div>
              <div class="lang_txt">75%</div>
            </div>
            <div class="percantge_bar_container">
              <div class="percantge_bar_7"></div>
            </div>
            <div class="lang_container">
              <div class="lang_txt">WordPress</div>
              <div class="lang_txt">70%</div>
            </div>
            <div class="percantge_bar_container">
              <div class="percantge_bar_8"></div>
            </div>
          </div>
          <div class="marginer"></div>

          <div class="left_5">
            <div class="lang_title">Extra Skills</div>
            <div class="extra_skill_container">
              <img src="images/Icons.png" alt="" height="15px" width="15px" />
              <div class="skill_txt">Bootstrap, Materialize</div>
            </div>
            <div class="extra_skill_container">
              <img src="images/Icons.png" alt="" height="15px" width="15px" />
              <div class="skill_txt">Sass,Less</div>
            </div>
            <div class="extra_skill_container">
              <img src="images/Icons.png" alt="" height="15px" width="15px" />
              <div class="skill_txt">Webpack, Gulp, Grunt</div>
            </div>
            <div class="extra_skill_container">
              <img src="images/Icons.png" alt="" height="15px" width="15px" />
              <div class="skill_txt">GIT Knowledge</div>
            </div>
          </div>
          <div class="marginer"></div>
        </div>
        </div>
        <div class="midd_frame"></div>
        <div class="right_frame"></div>
      </div>
    </div>
  </body>
</html>
